@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */

  font-family: 'Poppins', sans-serif;

  /* font-family: 'Montserrat', sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-100;
}

.thing {
  margin-right: 200px;
}


input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

